{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
    <style>

        form input {
            background: transparent !important;
            border-top: none;
            border-right: none;
            border-left: none;
            width: 50%;
            font-size: 20px;
            margin-left: -38px;
            line-height: 1.2;
            padding: 0 5px 0 38px;
            height: 45px;
        }

        .focus_input {
            font-size: 20px;
            margin: 0 auto;
            line-height: 1.2;
            padding: 0 0 0 38px;
            height: 45px
        }

        /*form input:focus,*/
        form input:hover {
            background: transparent !important;
            border-top: none;
            border-right: none;
            border-bottom: 2px solid rgba(95, 148, 68, .8);
            border-left: none;
            width: 50%;
            font-size: 20px;
        }

        :focus {
            outline: none;
        }

        #login_form a {
            color: #858585
        }

        #login_form a:hover {
            font-weight: bold;
        }

        #login_form a:focus {
            font-weight: bold !important;
        }

        form p a:focus {
            text-decoration: underline !important;
        }

        input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 30px white inset;
        }

        form {
            min-height: 400px;
        }

        #outline {
            border-radius: 100%;
            height: 150px;
            width: 150px;
            text-align: center;
            margin: 0 auto 30px;
        }

        #eu_logo {
            height: 100%;
        }

        .ui.button {
            margin-top: 30px;
        }

        .grey {
            border-bottom: 2px solid #858585;
        }

        .green {
            border-bottom: 2px solid rgba(95, 148, 68, .8);
        }
    </style>

    <div class="ui centered grid">
        <div class="nine wide column">
            <div id="login_form" class="class ui center aligned segment">
                <form id="login_form" class="form" method="post" action="">
                    {% csrf_token %}
                    <div id="outline">
                        <img id="eu_logo" src="{% static 'images/Logo/EvergreenLogo.png' %}" class="image"/>
                    </div>

                    <p>
                        <span class="focus_input"><i class="user icon"></i>
                        <input class="input_coloring" type="text" name="username" placeholder="Username" autofocus=""
                               maxlength="254"
                               required="" id="id_username"
                               data-op-id="0"></span>
                    </p>
                    <p><span class="focus_input"><i class="lock icon"></i>
                        <input class="input_coloring" type="password" placeholder="Password" name="password" required=""
                               id="id_password"
                               data-op-id="1">
                    </span>
                    </p>
                    <button class="ui button">{% trans 'Log in' %}</button>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </form>
                <p><a href="{% url 'auth_password_reset' %}">{% trans "Reset your password" %}</a></p>
                <p><a href="{% url 'registration_request' %}">{% trans "Request an Account" %}</a>
                </p>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            String.prototype.isEmpty = function () {
                return (this.length === 0 || !this.trim());
            };

            /*setTimeout(function() {
                $('.input_coloring').each(function () {
                    console.log(this.value)
                    if (this.value.isEmpty()) {
                        $(this).removeClass("green")
                        $(this).addClass("grey")
                    } else {
                        $(this).removeClass("grey")
                        $(this).addClass("green")
                    }
                })
            }, 5000);*/


            $('.input_coloring').change(function() {
                if (this.value.isEmpty()) {
                    $(this).removeClass("green")
                    $(this).addClass("grey")
                } else {
                    $(this).removeClass("grey")
                    $(this).addClass("green")
                }
            })
        })
    </script>
{% endblock %}


{% comment %}
**registration/login.html**

It's your responsibility to provide the login form in a template called
registration/login.html by default. This template gets passed four
template context variables:

``form``
    A Form object representing the login form. See the forms
    documentation for more on Form objects.

``next``
    The URL to redirect to after successful login. This may contain a
    query string, too.

``site``
    The current Site, according to the SITE_ID setting. If you don't
    have the site framework installed, this will be set to an instance
    of RequestSite, which derives the site name and domain from the
    current HttpRequest.

``site_name``
    An alias for site.name. If you don't have the site framework
    installed, this will be set to the value of
    request.META['SERVER_NAME']. For more on sites, see The
    "sites" framework.
{% endcomment %}
