{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Request an Account" %}{% endblock %}

{% block content %}
    <style>
        form {
            width: 75%;
            margin: 0 auto;
            min-height: 400px;
        }

        form label {
            font-size: 16px;
        }

        form input {
            width: 100%;
            font-size: 14px;
            border-radius: 5px;
            border: solid grey 1px;
            height: 2em;
        }

        :focus {
            outline: none;
        }

        #login_form a {
            color: #858585
        }

        #login_form a:hover {
            font-weight: bold;
        }

        #login_form a:focus {
            font-weight: bold !important;
        }

        form p a:focus {
            text-decoration: underline !important;
        }

        input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 30px white inset;
        }

        .ui.button {
            margin: 20px 39.5%;
            width: 18%;
            min-width: 150px;
        }
    </style>

    <h1>Request an Account</h1>
    <form method="post" action="">
        {% csrf_token %}
        <p>
            <label class="ui left floated" for="id_business_name">Business Name:</label>
            <input type="text" name="business_name" maxlength="40" required id="id_business_name"/>
        </p>
        <p>
            <label for="id_business_address">Business Address:</label>
            <input type="text" name="business_address" maxlength="75" required id="id_business_address"/>
        </p>
        <p>
            <label for="id_customer_name">Customer Name:</label>
            <input type="text" name="customer_name" maxlength="50" required id="id_customer_name"/>
        </p>
        <p>
            <label for="id_customer_position">Job Title:</label>
            <input type="text" name="customer_position" maxlength="20" required id="id_customer_position"/>
        </p>
        <p>
            <label for="id_phone_number">Phone Number:</label>
            <input type="text" name="phone_number" maxlength="13" required id="id_phone_number"/>
        </p>
        <p>
            <label for="id_email_address">Email:</label>
            <input type="email" name="email_address" maxlength="50" required id="id_email_address"/>
        </p>
        <button class="ui button" type="submit" value="{% trans 'Submit' %}">Request Account</button>
    </form>
{% endblock %}