{% block _invoice %}
    <table class="ui compact celled definition table">
        <thead class="full-width">
        <tr>
            <th style="font-size: 120%;" class="ten wide left aligned">Product</th>
            <th style="font-size: 120%;" class="four wide right aligned">Quantity</th>
            <th style="font-size: 120%;" class="two wide right aligned">Total</th>
        </tr>
        </thead>
        <tbody>
        {% for line in request.user.cart.items.all %}
            <tr>
                <td>
                    {{ line.item }}<br>
                    <a href="{% url 'remove_from_cart' line_item_pk=line.pk %}"
                       style="font-size: x-small; font-weight: normal; text-decoration: underline;">
                        Remove from Cart
                    </a>
                </td>
                <td class="right aligned">
                    <div class="field">
                        <div class="ui fluid right labeled input">
                            <input title="quantity" name="quantity_{{ line.pk }}" type="number" min="1" max="9999" class="right aligned"
                                   value="{{ line.quantity }}">
                            <div style="width: 5em;" class="ui right aligned basic label">
                                {{ line.get_unit_verbose }}
                            </div>
                        </div>
                    </div>
                </td>
                <td class="right aligned">${{ line.total_cost }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot class="full-width">
        <tr>
            <th></th>
            <th>
                <button class="tiny ui green fluid button">
                    Update quantities
                </button>
            </th>
            <th style="font-weight: bold;" class="right aligned">
                ${{ request.user.cart.order_total_cost }}
            </th>
        </tr>
        </tfoot>
    </table>
{% endblock %}