<!--
HTML for Evergreen United Fresh Sheet
By Brendan Myers
-->

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Fresh Sheet</title>

    <!--Import Semantic UI-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"
            integrity="sha256-Bhi6GMQ/72uYZcJXCJ2LToOIcN3+Cx47AZnq/Bw1f7A=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"
          integrity="sha256-/Z28yXtfBv/6/alw+yZuODgTbKZm86IKbPE/5kjO/xY=" crossorigin="anonymous"/>

    <!--CSS-->

{% block freshtable %}

    <style type="text/css">

        /* Padding for Title */
        body {
            padding-top: 5em;
            background-color: #FFFFFF;
        }

        /* Make Vegetable names more easily readable in table */
        .header {
            padding-top: 0.5em;
            font-weight: bold;
        }

    </style>

</head>
<body>

<!--Page Title-->
<h1 align="center"> (Current Date) Fresh Sheet</h1>

<!--Menu-->

<div class="ui top attached tabular menu">
    <a class="active item" data-tab="first">Fresh Sheet</a>
    <a class="item" data-tab="second">List View</a>
</div>

<!--Fresh Sheet-->
<div class="ui bottom attached active tab segment" data-tab="first">
    <div class="ui link items">
        <div class="ui grid">
            <div class="row">
                <div class="column">
                    <h4 class="v_modal_button">
                        <div class="item">
                            <div class="ui tiny image">
                                <a class="ui blue ribbon label tiny">Farm X</a>
                                <img src="http://via.placeholder.com/50x50">
                            </div>

                            <div class="content">
                                <div class="header">Name of Vegetable</div>
                                <div class="description">
                                    <p>Short Description of Vegetable</p>
                                </div>
                            </div>
                        </div>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <h4 class="v_modal_button">
                        <div class="item">
                            <div class="ui tiny image">
                                <a class="ui red ribbon label tiny">Farm Y</a>
                                <img src="http://via.placeholder.com/50x50">
                            </div>
                            <div class="content">
                                <div class="header">Name of Vegetable</div>
                                <div class="description">
                                    <p>Short Description of Vegetable</p>
                                </div>
                            </div>
                        </div>
                    </h4>
                </div>
            </div>
            <h4 class="v_modal_button">
                <div class="item">
                    <div class="ui tiny image">
                        <a class="ui green ribbon label tiny">Farm Z</a>
                        <img src="http://via.placeholder.com/50x50">
                    </div>
                    <div class="content">
                        <div class="header">Name of Vegetable</div>
                        <div class="description">
                            <p>Short Description of Vegetable</p>
                        </div>
                    </div>
            </h4>
        </div>
    </div>
</div>
</div>

<!--List View-->

<div class="ui bottom attached tab segment" data-tab="second">
    <div class="ui divided selection list">
        <div class="item">
            <h4 class="v_modal_button">
                <div class="ui blue horizontal label">Farm X</div>
                Vegetable
            </h4>
        </div>
        <div class="item">
            <div class="ui red horizontal label">Farm Y</div>
            Vegetable
        </div>
        <div class="item">
            <div class="ui green horizontal label">Farm Z</div>
            Vegetable
        </div>
    </div>
</div>
</div>
</div>

<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Orange Carrots
    </div>
    <div class="image content">
        <div class="ui medium image">
            <img src="http://via.placeholder.com/250x250">
        </div>
        <div class="description">
            <div class="ui header">[Call to Database for Veggie] from [Call to Database for Farm]</div>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <div class="ui negative right labeled icon button">
            Order [Call to Database for Veggie]
            <i class="shop icon"></i>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.menu .item').tab()
        $('.v_modal_button').click(function () {
            $('.ui.modal').modal('show')
        })
    })
</script>

{% endblock %}
</body>
</html>