{% extends 'base.html' %}

{% block content %}

    <!-- CSS -->
    <style>
        h1 {
            alignment: center;
            color: black !important;
        }

        table, thead th {
            color: #c2c2c2 !important;
            white-space: nowrap;
        }

        #product_name {
            font-weight: normal;
            color: #c2c2c2;
        }

        .food_item_row:hover {
            background-color: #f9f9f9;
        }

        .item.ui.segment:hover {
            background-color: #f1f1f1;
        }

        input#qty_id:focus {
            background-color: rgba(0, 255, 28, 0.06);
            border-color: rgba(41, 67, 32, 0.44);
        }

        form {
            width: 90%;
            margin: 0 auto 3em;
        }

        .ui.section.divider {
            width: 90%;
            margin: 0 auto;
        }

        .email_greeting {
            font-family: inherit;
            white-space: pre-wrap;
            text-align: justify;
        }
    </style>
    <!--Page Title-->
    <h1> {{ freshsheet.created_at }} Fresh Sheet </h1>

    <!--List View-->
    <form method="post" action="{% url "add_line_items_to_cart" %}" class="ui form">
        {% csrf_token %}
        <h4 class="ui header">Message to Chefs</h4>
        <div class="ui basic segment">
            <pre class="email_greeting">{{ freshsheet.greeting }}</pre>
        </div>
        <div class="ui section divider"></div>

        <table class="ui unstackable compact celled definition table">
            <thead class="full-width">
            <tr>
                <th class="three wide left aligned">Product</th>
                <th class="three wide left aligned">Farm</th>
                <th class="two wide center aligned">Price</th>
                <th class="two wide center aligned">Case Price</th>
                <th class="two wide center aligned">Wholesale</th>
            </tr>
            </thead>
            <tbody>
            {% for food_item in freshsheet.items.all|dictsort:"category" %}
                <tr onclick="$(this).find('input').focus()" class="food_item_row">
                    <td id="product_name">{{ food_item.name }}</td>
                    <td id="product_name">{{ food_item.farm }}</td>
                    <td class="center aligned">${{ food_item.price }}</td>
                    {% if food_item.case_price == None %}
                        <td class="center aligned one wide column">--</td>
                    {% else %}
                        <td class="center aligned">${{ food_item.case_price }}</td>
                    {% endif %}
                    {% if food_item.wholesale_price == None %}
                        <td class="center aligned one wide column">--</td>
                    {% else %}
                        <td class="center aligned">${{ food_item.wholesale_price }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
            <tfoot class="full-width">
            <tr>
            </tr>
            </tfoot>
        </table>
    </form>

    <script>

        $(document).ready(function () {
            $(".order-button").click(function (event) {
                // your add_quantity function stuff here
                var quantity = $(event.target).parent().find('input').val();
                $.get("/add_to_cart/" + this.dataset.itemId + "/" + quantity + "/" + "?freshsheet_pk={{ freshsheet.pk }}")
            })
        });
    </script>
{% endblock %}
