{% extends 'base.html' %}

{% block content %}

    <!-- CSS -->
    <style>
        h1 {
            alignment: center;
            color: black !important;
        }

        table, thead th {
            color: #c2c2c2 !important;
        }

        #product_name {
            font-weight: normal;
            color: #c2c2c2;
        }

        .food_item_row:hover {
            background-color: #f9f9f9;
        }

        .item.ui.segment:hover {
            background-color: #f1f1f1;
        }

        input#qty_id:focus {
            background-color: rgba(0, 255, 28, 0.06);
            border-color: rgba(41, 67, 32, 0.44);
        }

        form {
            width: 60%;
            margin: 0 auto;
        }
    </style>
    <!--Page Title-->
    <h1> {{ freshsheet.created_at }} Fresh Sheet </h1>

    <!--List View-->
    <form method="post" action="{% url "add_line_items_to_cart" %}" class="ui form">
        {% csrf_token %}
        <table class="ui compact celled definition table">
            <thead class="full-width">
            <tr>
                <th class="ten wide left aligned">Product</th>
                <th class="two wide right aligned">Price Per Unit</th>
            </tr>
            </thead>
            <tbody>
            {% for food_item in freshsheet.items.all|dictsort:"name" %}
                <tr onclick="$(this).find('input').focus()" class="food_item_row">
                    <td id="product_name">
                        {{ food_item.name }}
                    </td>
                    <td class="right aligned">${{ food_item.price }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot class="full-width">
            <tr>
            </tr>
            </tfoot>
        </table>
    </form>


    <script>

        $(document).ready(function () {
            $(".order-button").click(function (event) {
                // your add_quantity function stuff here
                var quantity = $(event.target).parent().find('input').val()
                $.get("/add_to_cart/" + this.dataset.itemId + "/" + quantity + "/" + "?freshsheet_pk={{ freshsheet.pk }}")
            })
        });
    </script>
{% endblock %}
