{% extends 'base.html' %}

{% load evergreen_helpers %}

{% block content %}

    <!-- CSS -->
    <style>
        h1 {
            alignment: center;
        }

        #product_name {
            font-weight: normal;
        }

        .food_item_row:hover {
            background-color: #f9f9f9;
            cursor: pointer;
        }

        .item.ui.segment:hover {
            background-color: #f1f1f1;
            cursor: pointer;
        }

        .ui.form {
            margin-bottom: 5em;
        }

        .disabled {
            cursor: not-allowed;
        }

        #add_items {
            float: right;
            width: 10em;
            margin-top: 1em;
        }

        #login_btn {
            width: 18.5em;
            margin-top: 1em;
            float: right;
        }

        @media screen and (max-width: 850px) {
            #login_btn {
                width: 100%;
            }

            #add_items {
                width: 100%;
            }
        }

        td, th {
            width: 100%;
        }

        table {
            border-left: none !important;
            border-top: none !important;
            border-right: none !important;
            overflow-x: scroll;
            margin: 0 auto;
        }

        .ui.celled.table tr td:first-child, .ui.celled.table tr th:first-child {
            border-left: solid gainsboro 1px;
        }

        .ui.celled.table tr td:last-child, .ui.celled.table tr th:last-child {
            border-right: solid gainsboro 1px
        }

        .ui.celled.table tr #category_header:first-child {
            border-right: none;
        }

        .ui.celled.table th {
            border-top: solid gainsboro 1px;
            border-bottom: solid gainsboro 1px;
        }

        #category_header {
            background-color: rgba(212, 208, 208, 0.23);
            border-left: none;
        }

        .hidden {
            display: none;
        }

        .inner {
            overflow-x: auto;
            white-space: nowrap;
            margin: 0 auto;
        }

        .row-product {
            width: auto;
        }

        .row-farm {
            width: auto;
            padding: 5px;
        }

        .row-quantity {
            width: auto;
        }

        #mobile_qty_label {
            font-weight: 100;
        }

        .row-qty-cart {
            width: auto;
        }

        .row-split {
            width: auto;
        }

        .row-case {
            width: auto;
        }

        .row-WS {
            width: auto;
        }

        .cat_header {
            border-left: none;
        }

    </style>

    <!--Page Title-->
    <h1> {{ freshsheet.published_at }} Fresh Sheet </h1>

    <div class="ui button"><a class="" href="{% url 'social:begin' 'intuit' %}">Connect with Quickbooks</a></div>
    <b>Connect To QuickBooks</b><br/>
    <a class="imgLink" href="#" onclick="launchPopup('/connectToQuickbooks/')">
    Click
    </a>
    <script>
        function launchPopup(path) {
            var win;
            var checkConnect;
            var parameters = "location=1,width=800,height=650";
            parameters += ",left=" + (screen.width - 800) / 2 + ",top=" + (screen.height - 650) / 2;
            // Launch Popup
            win = window.open(path, 'connectPopup', parameters);
        }
    </script>
    <!-- Fresh Sheet Table -->
    <div><a href=".">Reset Sorting</a></div>

    <form id="freshsheet_form" method="post" action="{% url "add_line_items_to_cart" %}" class="ui form">
        {% csrf_token %}
        <div class="inner">
            <table class="ui sortable unstackable compact celled definition table">
                <thead class="ui full-width">
                <tr>
                    <th class="row-product left aligned">Product</th>
                    <th class="row-farm left aligned">Farm</th>
                    <th class="row-quantity right aligned">Quantity</th>
                    <th class="row-qty-cart right aligned">Qty. in Cart</th>
                    <th class="row-split right aligned">Split Cost</th>
                    <th class="row-case right aligned">Case Cost</th>
                    <th class="row-WS right aligned">W.S. Cost</th>
                </tr>
                </thead>
                <tbody>
                <!-- Start sorting by Category -->
                {% for category, items in processed_items.items %}
                    <tr class="cat_header" style="border-left: none;">
                        <td colspan="7" id="category_header" class="category_header">{{ category }}</td>
                        <td class="hidden"></td>
                        <td class="hidden"></td>
                        <td class="hidden"></td>
                        <td class="hidden"></td>
                        <td class="hidden"></td>
                        <td class="hidden"></td>
                    </tr>
                    {% for food_item in items %}
                        <tr {% if request.user.is_authenticated %}onclick="$(this).find('input').focus()"{% endif %}
                            class="food_item_row">
                            <td class="two wide column" id="product_name">
                                {{ food_item.name }}
                            </td>
                            <td class="two wide column">
                                {{ food_item.farm }}
                            </td>
                            <td class="right aligned two wide column">
                                <div class="field">
                                    <div id="qty_id"
                                         class="ui right labeled {% if not request.user.is_authenticated %}disabled {% endif %}input">
                                        <input name="food_item_{{ food_item.pk }}" type="number" min="1"
                                               max="999" class="right aligned">
                                        <div data-tooltip="{{ food_item.get_unit_verbose }}" id="mobile_qty_label"
                                             class="ui right aligned basic label">
                                            {{ food_item.get_unit_succinct }}s
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="right aligned one wide column">{{ cart_quantities|get_item:food_item.pk|default_if_none:'' }}</td>
                            {% if request.user.is_authenticated %}
                                <td data-value="{{ food_item.price }}" class="right aligned one wide column">
                                    ${{ food_item.price }}</td>
                                {% if food_item.case_price == None %}
                                    <td class="center aligned one wide column">--</td>
                                {% else %}
                                    <td data-value="{{ food_item.case_price }}" class="right aligned one wide column">
                                        ${{ food_item.case_price }}
                                        ({{ food_item.case_count }}+)
                                    </td>
                                {% endif %}

                                {% if food_item.wholesale_price == None %}
                                    <td class="center aligned one wide column">--</td>
                                {% else %}
                                    <td data-value="food_item.wholesale_price" class="right aligned one wide column">
                                        ${{ food_item.wholesale_price }}
                                        ({{ food_item.wholesale_count }}+)
                                    </td>
                                {% endif %}
                            {% endif %}
                            {% if not request.user.is_authenticated %}
                                <td class="center aligned one wide column">--</td>
                                <td class="center aligned one wide column">--</td>
                                <td class="center aligned three wide column">Login For Pricing</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if request.user.is_authenticated %}
            <button value="{{ line.pk }}" id="add_items" class="tiny ui green fluid button">
                Add to Cart
            </button>
        {% else %}
            <a href="{% url "auth_login" %}" id="login_btn" class="tiny ui red fluid button">
                You must login to add items to cart
            </a>
        {% endif %}
    </form>

    <script>
        $(document).ready(function () {
            var serialized_form = $('#freshsheet_form').serialize();
            var prevent_unloader = false;

            $("#freshsheet_form").submit(function (event) {
                // your add_quantity function stuff here
                prevent_unloader = true;
                var quantity = $(event.target).parent().find('input').val();
                $.get("/add_to_cart/" + this.dataset.itemId + "/" + quantity + "/" + "?freshsheet_pk={{ freshsheet.pk }}")
            });

            $('table').tablesort();

            $('table th').click(function () {
                $('.category_header').addClass('hidden')
            });

            $(window).bind('beforeunload', function (e) {
                // e.preventDefault();
                if (serialized_form != $('#freshsheet_form').serialize() && prevent_unloader === false) {
                    return true;
                } else {
                    e = null;
                }
            });
        });
    </script>
{% endblock %}
