{% extends 'base.html' %}

{% load evergreen_helpers %}

{% block content %}

    <!-- CSS -->
    <style>
        h1 {
            alignment: center;
        }

        #product_name {
            font-weight: normal;
        }

        .food_item_row:hover {
            background-color: #f9f9f9;
            cursor: pointer;
        }

        .item.ui.segment:hover {
            background-color: #f1f1f1;
            cursor: pointer;
        }

        .ui.form {
            margin-bottom: 4em;
        }

        .disabled {
            cursor: not-allowed;
        }

        #add_items {
            float: right;
            width: 10em;
            margin-top: 1em;
        }

        #login_btn {
            width: 18.5em;
            margin-top: 1em;
            float: right;
        }

        @media screen and (max-width:850px){
            #login_btn {
                width: 100%;
            }

            #add_items {
                width: 100%;
            }
        }

        td, th {
            width: 100%;
        }

        table {
            border: none !important;
            overflow-x: scroll;
            margin: 0 auto;
        }

        .ui.celled.table tr td:first-child, .ui.celled.table tr th:first-child {
            border-left: solid gainsboro 1px;
        }

        .ui.celled.table tr td:last-child, .ui.celled.table tr th:last-child {
            border-right: solid gainsboro 1px
        }

        .ui.celled.table tr #category_header:first-child {
            border-right: none;
        }

        .ui.celled.table th {
            border-top: solid gainsboro 1px;
            border-bottom: solid gainsboro 1px;
        }

        #category_header {
            background-color: rgba(212, 208, 208, 0.23);
            border-left: none;
        }

        .hidden {
            display: none;
        }

        .inner {
            overflow-x: auto;
            white-space: nowrap;
            margin: 0 auto;
        }

    </style>

    <!--Page Title-->
    <h1> {{ freshsheet.published_at }} Fresh Sheet </h1>
    <!--List View-->
    <div><a href=".">Reset Sorting</a></div>
    <form method="post" action="{% url "add_line_items_to_cart" %}" class="ui form">
        {% csrf_token %}
        <div class="inner">
            <table class="ui sortable unstackable compact celled definition table">
                <thead class="ui full-width">
                <tr>
                    <th class="two wide left aligned">Product</th>
                    <th class="two wide left aligned">Farm</th>
                    <th class="two wide right aligned">Quantity</th>
                    <th class="one wide right aligned">Qty. in Cart</th>
                    <th class="one wide right aligned">Split Cost</th>
                    <th class="one wide right aligned">Case Cost</th>
                    <th class="one wide right aligned">W.S. Cost</th>
                </tr>
                </thead>
                <tbody>
                {% for category, items in processed_items.items %}
                    <tr class="cat_header" style="border-left: none;">
                        <td colspan="7" id="category_header" class="category_header">{{ category }}</td>
                        <td class="hidden"></td>
                        <td class="hidden"></td>
                        <td class="hidden"></td>
                        <td class="hidden"></td>
                        <td class="hidden"></td>
                        <td class="hidden"></td>

                    </tr>
                    {% for food_item in items %}
                        <tr onclick="$(this).find('input').focus()" class="food_item_row">
                            <td class="two wide column" id="product_name">
                                {{ food_item.name }}
                            </td>
                            <td class="two wide column">
                                {{ food_item.farm }}
                            </td>
                            <td class="right aligned two wide column">
                                <div class="field">
                                    <div id="qty_id" class="ui right labeled input">
                                        <input name="food_item_{{ food_item.pk }}" type="number" min="1"
                                               max="999" class="right aligned">
                                        <div id="mobile_qty_label" style="width: 3em;"
                                             class="ui right aligned basic label">
                                            {{ food_item.unit }}s
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="right aligned one wide column">{{ cart_quantities|get_item:food_item.pk|default_if_none:'' }}</td>
                            <td data-value="{{ food_item.price }}" class="right aligned one wide column">
                                ${{ food_item.price }}</td>
                            {% if food_item.case_price == None %}
                                <td class="center aligned one wide column">--</td>
                            {% else %}
                                <td data-value="{{ food_item.case_price }}" class="right aligned one wide column">
                                    ${{ food_item.case_price }}
                                    ({{ food_item.case_count }}+)
                                </td>
                            {% endif %}

                            {% if food_item.wholesale_price == None %}
                                <td class="center aligned one wide column">--</td>
                            {% else %}
                                <td data-value="food_item.wholesale_price" class="right aligned one wide column">
                                    ${{ food_item.wholesale_price }}
                                    ({{ food_item.wholesale_count }}+)
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
                <tfoot class="full-width">
                <tr>
                    <th colspan="7">
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
        {% if request.user.is_authenticated %}
            <button value="{{ line.pk }}" id="add_items" class="tiny ui green fluid button">
                Add to Cart
            </button>
        {% else %}
            <a href="{% url "auth_login" %}" id="login_btn" class="tiny ui red fluid button">
                You must login to add items to cart
            </a>
        {% endif %}
    </form>

    <script>
        $(document).ready(function () {
            $(".order-button").click(function (event) {
                // your add_quantity function stuff here
                var quantity = $(event.target).parent().find('input').val();
                $.get("/add_to_cart/" + this.dataset.itemId + "/" + quantity + "/" + "?freshsheet_pk={{ freshsheet.pk }}")
            });

            $('table').tablesort();

            $('table th').click(function () {
                $('.category_header').addClass('hidden')
            });
        });
    </script>
{% endblock %}
