{% extends 'base.html' %}

{% block content %}
    <style>
        .form-control {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }

        form {
            display: inline-grid;
        }

        .wrapper {
            min-height: 80vh;
        }

        .delete_freshsheet {
            color: #bc001b;
        }

        .delete_freshsheet:hover {
            color: #8e0012;
        }
    </style>
    <!-- Index -->
    <h1 class="massive">Fresh Sheet Index</h1>
    <a href="{% url "create_freshsheet" %}" class="ui button primary">
        <i class="icon plus"></i> Create Freshsheet
    </a>

    <form action="{% url "upload_csv" %}" id="submissionform" method="POST" enctype="multipart/form-data"
          class="ui form">
        {% csrf_token %}
        <input type="file" (change)="fileEvent($event)" name="csv_file" id="csv_file" required class="form-control">
        <label for="csv_file" class="ui button">
            <i class="ui upload icon"></i>Upload Pricing Data CSV
        </label>
    </form>
    <table class="ui unstackable table">
        <thead>
        <tr>
            <th>Freshsheet Details</th>
            <th>Edit</th>
            <th>Publish</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for freshsheet in freshsheets reversed %}

            <tr>
                <td>
                    <strong><a href="{% url "detail_freshsheet" id=freshsheet.id %}">{{ freshsheet.created_at }} Fresh Sheet</a></strong>
                </td>
                <td>
                        <a href="{% url "edit_freshsheet" pk=freshsheet.id %}"><i class="edit icon"></i>Edit</a>
                </td>
                <td>
                    <a href="#" onclick="confirm_publish('{% url "publish_freshsheet" pk=freshsheet.id %}')"><i class="envelope icon"></i>Publish</a>
                </td>
                <td>
                    <a class="delete_freshsheet" href="{% url "delete_freshsheet" pk=freshsheet.id %}"><i class="trash icon"></i>Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        var confirm_publish = function (url) {
            if (confirm("Are you sure you want to publish? This will send an email to each client!")) {
                window.location = url
            }
        };

        document.getElementById("csv_file").onchange = function () {
            document.getElementById("submissionform").submit();
        };
    </script>
{% endblock %}
