{% extends 'base.html' %}

{% block content %}
    <!-- Index -->

    {##}
    <h1 class="massive">Fresh Sheet Index</h1>

    <h3 class="container">{{ freshsheet }}</h3>
    <ul class="collection">
        {% for freshsheet in freshsheets %}
            <li class="collection-item"><a href="/details/{{ freshsheet.id }}">{{ freshsheet.created_at }} Fresh
                Sheet</a>
            </li>
        {% endfor %}
    </ul>


    <script>
        $(document).ready(function () {
            /*$('.menu .item').tab()
            $('.v_modal_button').click(function () {
                $('.ui.modal').modal('show')
            })*/
        })
    </script>
{% endblock %}


