{% extends 'base.html' %}

{% block content %}
    <!-- Index -->

    {##}
    <h1 class="massive">Fresh Sheet Index</h1>

    <a href="{% url "create_freshsheet" %}" class="ui button primary">
        <i class="icon plus"></i> Create Freshsheet
    </a>

    <ul class="collection">
        {% for freshsheet in freshsheets %}
            <li class="collection-item">
                <a href="{% url "detail_freshsheet" id=freshsheet.id %}">{{ freshsheet.created_at }} Fresh Sheet</a> |
                <a href="{% url "edit_freshsheet" pk=freshsheet.id %}">Edit</a> |
                <a href="#" onclick="confirm_publish('{% url "publish_freshsheet" pk=freshsheet.id %}')">Publish</a> |
                <a href="{% url "delete_freshsheet" pk=freshsheet.id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>

    <script>
        var confirm_publish = function(url) {
            if(confirm("Are you sure you want to publish? This will send an email to each client!")) {
                window.location = url
            }
        }
    </script>
{% endblock %}


