{% extends 'base.html' %}

{% load evergreen_helpers %}

{% block content %}

    <button id="farm-button" class="ui button">Sort by Farm</button>
    <button id="customer-button" class="ui button">Sort by Customer</button>
    <button id="all-button" class="ui button">Total Order</button>
    <button id="reset-button" class="ui button">Reset Sorting</button>
    {% for order in orders %}
        {% if forloop.first %}
            <div class="ui large centered header">{{ order.freshsheet.delivery_date }} Freshsheet Orders</div>
        {% endif %}
    {% endfor %}

    <table id="ordersheet-table" class="ui sortable celled table">
        <thead>
        <tr>
            <th class="quantity">Quantity</th>
            <th class="product">Product</th>
            <th class="farm">Farm</th>
            <th class="customer">Customer</th>
            <th class="item-price">Item Price</th>
            <th class="total-price">Total Price</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            {% for item in order.items.all %}
                <tr>
                    <td class="quantity" data-label="Quantity">{{ item.quantity }} {{ item.item.unit }}</td>
                    <td class="product" data-label="Product">{{ item.item }}</td>
                    <td class="farm" data-label="Farm">{{ item.item.farm }}</td>
                    <td class="customer" data-label="Customer">{{ order.created_by.req_info.business_name }}</td>
                    <td class="item-price" data-label="Price">{{ item.unit_cost }}</td>
                    <td class="total-price" data-label="TotalPrice">{{ item.total_cost }}</td>
                </tr>
            {% endfor %}
            <tr id="total-row">
                <td colspan="6" class="right aligned order-total" data-label="OrderPrice"><strong>Order Total:
                    ${{ order.order_total_cost }}</strong></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        $(document).ready(function () {
            var farmSort = $('.farm');
            var customerSort = $('.customer, .total-price');
            var tableSort = $('#ordersheet-table').tablesort();
            var buttonSort = tableSort.data('tablesort');
            var rowCount = document.getElementById('ordersheet-table').rows.length;


            $('#farm-button').on('click', function () {
                    $('.customer, .total-price').addClass('hidden');

                    for (var i = 0; i < rowCount; i++) {
                        var row = document.getElementById('total-row');
                        if (row) {
                            row.parentNode.removeChild(row);
                        }
                    }

                    if (farmSort.hasClass('hidden')) {
                        farmSort.removeClass('hidden')
                    }
                    buttonSort.sort($('th.product'));
                    window.setTimeout(function () {
                        buttonSort.sort($('th.farm'));
                        console.log('---- Sorted by Farm ----')
                    }, 200)
                }
            );

            $('#customer-button').on('click', function () {
                $('.item-price, .order-total').addClass('hidden');

                for (var i = 0; i < rowCount; i++) {
                    var row = document.getElementById('total-row');
                    if (row) {
                        row.parentNode.removeChild(row);
                    }
                }

                if (customerSort.hasClass('hidden')) {
                    customerSort.removeClass('hidden')
                }
                buttonSort.sort($('th.product'));
                window.setTimeout(function () {
                    buttonSort.sort($('th.customer'));
                    console.log('---- Sorted by Customer ----')
                }, 200)
            });

            $('#all-button').on('click', function () {

                for (var i = 0; i < rowCount; i++) {
                    var row = document.getElementById('total-row');
                    if (row) {
                        row.parentNode.removeChild(row);
                    }
                }

                $('#ordersheet-table th, #ordersheet-table td').removeClass('hidden');
                $('.order-total').addClass('hidden');
                buttonSort.sort($('th.product'));
                window.setTimeout(function () {
                    buttonSort.sort($('th.customer'));
                    console.log('---- Sorted by Customer ----')
                }, 100)
            });

            $('#reset-button').on('click', function() {
                // Refreshes window to reset table sorting
                window.location.href = window.location.href
            })
        })
    </script>

    <style>
        .hidden {
            display: none;
        }

        #ordersheet-table {
            margin-bottom: 50px;
        }

        .order-total {
            background-color: #eeeeee
        }

    </style>
{% endblock %}